body{
  font-family: system-ui;
  }

  .percentage {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
}

h3{
  font-size: 6em;
}

.green {
  background-color: #8cc63f;
}

.yellow{
    background-color: #f7931e;
}

.red {
  background-color: #ed1c24;
}

.percentageCircles {
  display: flex;
  justify-content: space-around;
}
