
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  margin-left: 0;
  background-color: #DCDCDC;
}

h1 {
  padding-left: 1em;
  padding-bottom: .25em;
  background-color: #3f51b5;
  color: white;
  box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.31);
  font-size: 1.75em;
}

h2 {
  margin-bottom: 1em;
  margin-left: 1em;
}

h3 {
  color: white;
}

form {
  margin-left: 2em;
  margin-right: 10em;
  width: 40%;
  max-width: 40%;
}

label {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.25em;

}

select {
  border: 1px solid #ccc;
  height: 2em;
}

section {
  flex: 1 1 40%;
}

p {
  margin-left: 2em;
  margin-bottom: 1em;
  max-width: 80%;
}

.green{
  background-color: green;
}

.form {
  margin: 1em;
  background-color: white;
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.31);
  display: flex;
}

.formWrapper{
  flex: 0 0 50%;
}

.formPart select:last-of-type{
  margin-bottom: 1em;
}

.list {
  margin-right: 1em;
  padding-top: 1em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.31);
}


ul {
  padding-left: 2.75em;
}

li:last-of-type{
  margin-bottom: 1em;
}

.flex {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.percentage {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
}

.type {
  width: 12em;
  padding: .625rem 1.125rem;
  vertical-align: top;
  font-weight: 400;
  white-space: nowrap;
  background-color: #3f51b5;
  color: #fff;
  box-shadow: inset 0 -0.125rem 0 #2c387e;
  text-align: center;
  line-height: 1.5625rem;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  transition: box-shadow .15s ease-in-out;
}

.type:hover{
  cursor: pointer;
  box-shadow: inset 0 -2.5rem 0 #2c387e;
}

.active{
  box-shadow: inset 0 -2.5rem 0 #2c387e;
}

.selected {
  diplay: block;
}

.notSelected {
  display: none;
}

.percentage {
  margin-right: 0;
}

.yellow {
    background-color: #3f51b5;
    box-shadow: inset 0 -0.2rem 0 #2c387e, 10px 10px 15px -1px rgba(0,0,0,0.31);

}

.percentageCircles {
  display: flex;
  justify-content: space-around;
}

.positives {
  color: green;
}

.negatives {
  color: red;
}
